.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    display: block;  
}

.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.pull-left{
    float: left;
}

 .title{
    vertical-align: middle;
 }
 
 div {
    display:block;
 }
 
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 }

.header .container{
    position: relative;
}

.header h1{
    margin-bottom: 0;
}


 .header h1.logo{
    font-weight: bold;
    font-size: 28px;
 }

.header h1.logo a {
    color: #444;
    text-decoration: none;
}

header ul{
        font-family: 'Lato', arial, sans-serif;
        color: #444;
         display:block;
}

.header .container .main-nav  {
    padding: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    } 

.header .main-nav .nav .nav-item{
    margin-right: 5px;
    font-weight: normal;
    
}  

.header .main-nav .nav .nav-item a{
    padding: 15px 20px;
    font-size: 14px;
    color: #444;
}
.header .container .main-nav .nav .nav-item a.nav-link.active {
color:#56bc94;

} 

